.relative {
  position: relative;
}

.mx-\[50px\] {
  margin-left: 50px;
  margin-right: 50px;
}

.my-\[35px\] {
  margin-top: 35px;
  margin-bottom: 35px;
}

.ml-\[10px\] {
  margin-left: 10px;
}

.mr-\[25\%\] {
  margin-right: 25%;
}

.mt-\[30\%\] {
  margin-top: 30%;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h-\[35px\] {
  height: 35px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.w-\[35px\] {
  width: 35px;
}

.w-full {
  width: 100%;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.overflow-auto {
  overflow: auto;
}

.bg-\[\#242537\] {
  --tw-bg-opacity: 1;
  background-color: rgb(36 37 55 / var(--tw-bg-opacity));
}

.p-\[1\%\] {
  padding: 1%;
}

.p-\[15\%\] {
  padding: 15%;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[30px\] {
  font-size: 30px;
}

.font-bold {
  font-weight: 700;
}

.tracking-\[1px\] {
  letter-spacing: 1px;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 320px) and (max-width: 768px) {
  .ssm\:mr-0 {
    margin-right: 0px;
  }

  .ssm\:flex {
    display: flex;
  }

  .ssm\:flex-wrap {
    flex-wrap: wrap;
  }

  .ssm\:p-\[2\%\] {
    padding: 2%;
  }
}
