/*
'ssm':{'min':'320px','max':'768px'},
      'md':'769px',
      'ld':{'max':'1024px'},
      'lsm':{'min':'320px','max':'425px'},   
*/

.contact-container
{
    width: 100%;
    height: 100%;
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    overflow: auto;
}

.contact-container--inner1
{
    width: 100%;
    height: 100%;
    padding: 15%;
}

.contact-container--inner2-cnt
{
    margin-top: 30%;
    margin-left: 50px;
    margin-right: 50px;
}

.contact-container--inner2-cnt-inner
{
    position: relative;
    margin-right: 10%;
    letter-spacing: 1px;
}

.contact-container--inner2-cnt-inner--header
{
    position: absolute;
    font-size: 38px;
    font-weight: bold;
    top: -25%;
    color: #b7d8f7c4;
}

.contact-container--inner2-cnt-inner--header2
{
    font-weight: bold;
    font-size: 35px;
    position: relative;
    z-index: 1;
    color: black;
}

@media (min-width:320px) and (max-width:768px)
{
    .contact-container
    {
        display: flex;
        flex-wrap: wrap;
    }
    .contact-container--inner1
    {
        padding: 2%;
    }
    .contact-container--inner2-cnt-inner
    {
        margin-right: 0;
    }
    .contact-container--inner2-cnt-inner--header
    {
        font-size: 25px;
        top: -75%;
    }
    .contact-container--inner2-cnt-inner--header2
    {
        font-size: 25px;
    }
}