/*
    'ssm':{'min':'320px','max':'768px'},
    'md':'769px',
    'ld':{'max':'1024px'},
    'lsm':{'min':'320px','max':'425px'},
*/

.navbar-eq--about {
  width: 70%;
  overflow: auto;
}

.navbar-noteq--about {
  overflow: auto;
}

.navbar--aboutLink--inner {
  width: 50px;
  height: 50px;
}

.navbar--aboutLinkNotEq--inner {
  width: 50px;
  height: 50px;
}

.navbar-container--inner2 {
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.navbar-container--inner2--inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.retailLink-eqInAbt {
  color: white;
  margin-right: 15px;
  margin-left: 15px;
  font-weight: bold;
}

.retailLink-NoteqInAbt {
  margin-right: 15px;
  margin-left: 15px;
  font-weight: bold;
}

.retailLink-eqInAbtForMobScreen,
.abtLink-eqInAbtForMobScreen {
  color: black;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
}

.abtLink-NoteqInAbtForMobScreen {
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  font-weight: bold;
}

.logo {
  padding-right: 3%;
}

@media (min-width: 320px) and (max-width: 768px) {
  .navbar--aboutLink--inner {
    top: 5%;
    right: 50%;
  }
  /* .temp-left,
  .temp-right {
    display: block;
  } */
  .left-links,
  .right-links {
    display: none;
  }
  .logo {
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 769px) {
  .checkbox-wrapper--hidden {
    visibility: hidden;
  }
}
