.ml-\[15px\] {
  margin-left: 15px;
}

.ml-\[5\%\] {
  margin-left: 5%;
}

.mt-\[12\%\] {
  margin-top: 12%;
}

.mt-\[7\%\] {
  margin-top: 7%;
}

.flex {
  display: flex;
}

.h-\[100vh\] {
  height: 100vh;
}

.h-\[25px\] {
  height: 25px;
}

.w-\[130px\] {
  width: 130px;
}

.w-\[25px\] {
  width: 25px;
}

.w-\[40\%\] {
  width: 40%;
}

.w-full {
  width: 100%;
}

.rounded-\[18px\] {
  border-radius: 18px;
}

.bg-\[\#0065A8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 101 168 / var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.p-\[8px\] {
  padding: 8px;
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[45px\] {
  font-size: 45px;
}

.font-\[900\] {
  font-weight: 900;
}

.text-\[\#0065A8\] {
  --tw-text-opacity: 1;
  color: rgb(0 101 168 / var(--tw-text-opacity));
}

.text-\[\#242537\] {
  --tw-text-opacity: 1;
  color: rgb(36 37 55 / var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 320px) and (max-width: 768px) {
  .ssm\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .ssm\:ml-\[15px\] {
    margin-left: 15px;
  }

  .ssm\:mt-\[30vh\] {
    margin-top: 30vh;
  }

  .ssm\:w-\[95\%\] {
    width: 95%;
  }

  .ssm\:flex-wrap {
    flex-wrap: wrap;
  }

  .ssm\:rounded-\[15px\] {
    border-radius: 15px;
  }

  .ssm\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }

  .ssm\:p-\[12px\] {
    padding: 12px;
  }

  .ssm\:text-\[14px\] {
    font-size: 14px;
  }

  .ssm\:text-\[28px\] {
    font-size: 28px;
  }
}
