.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-0 {
  bottom: 0px;
}

.right-0 {
  right: 0px;
}

.top-0 {
  top: 0px;
}

.top-\[40\%\] {
  top: 40%;
}

.ml-\[15px\] {
  margin-left: 15px;
}

.mt-\[7\%\] {
  margin-top: 7%;
}

.flex {
  display: flex;
}

.h-\[100vh\] {
  height: 100vh;
}

.h-\[25px\] {
  height: 25px;
}

.w-\[130px\] {
  width: 130px;
}

.w-\[25px\] {
  width: 25px;
}

.w-\[40\%\] {
  width: 40%;
}

.w-\[50\%\] {
  width: 50%;
}

.w-full {
  width: 100%;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rounded-\[18px\] {
  border-radius: 18px;
}

.bg-\[\#0065A8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 101 168 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.p-\[8px\] {
  padding: 8px;
}

.px-\[2\%\] {
  padding-left: 2%;
  padding-right: 2%;
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-\[8px\] {
  padding-top: 8px;
  padding-bottom: 8px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[45px\] {
  font-size: 45px;
}

.font-\[900\] {
  font-weight: 900;
}

.text-\[\#0065A8\] {
  --tw-text-opacity: 1;
  color: rgb(0 101 168 / var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 320px) and (max-width: 768px) {
  .ssm\:top-\[50\%\] {
    top: 50%;
  }

  .ssm\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .ssm\:ml-\[15px\] {
    margin-left: 15px;
  }

  .ssm\:w-\[95\%\] {
    width: 95%;
  }

  .ssm\:flex-wrap {
    flex-wrap: wrap;
  }

  .ssm\:rounded-\[15px\] {
    border-radius: 15px;
  }

  .ssm\:bg-\[\#00385d\] {
    --tw-bg-opacity: 1;
    background-color: rgb(0 56 93 / var(--tw-bg-opacity));
  }

  .ssm\:p-\[12px\] {
    padding: 12px;
  }

  .ssm\:text-\[14px\] {
    font-size: 14px;
  }

  .ssm\:text-\[28px\] {
    font-size: 28px;
  }
}
