.ml-\[30px\] {
  margin-left: 30px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[50px\] {
  height: 50px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.w-\[100px\] {
  width: 100px;
}

.w-full {
  width: 100%;
}

.list-none {
  list-style-type: none;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.bg-\[\#242537\] {
  --tw-bg-opacity: 1;
  background-color: rgb(36 37 55 / var(--tw-bg-opacity));
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[4\%\] {
  padding-left: 4%;
  padding-right: 4%;
}

.py-\[4\%\] {
  padding-top: 4%;
  padding-bottom: 4%;
}

.py-\[8px\] {
  padding-top: 8px;
  padding-bottom: 8px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[24px\] {
  font-size: 24px;
}

.tracking-\[2px\] {
  letter-spacing: 2px;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 320px) and (max-width: 768px) {
  .ssm\:flex {
    display: flex;
  }

  .ssm\:flex-wrap {
    flex-wrap: wrap;
  }

  .ssm\:p-\[25px\] {
    padding: 25px;
  }
}
